In [205]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [206]:
dftrain=pd.read_csv("C:\\Users\\awisi\\OneDrive\\Desktop\\CaseStudies\\Jobathon\\TRAIN.csv")
dftest=pd.read_csv("C:\\Users\\awisi\\OneDrive\\Desktop\\CaseStudies\\Jobathon\\TEST_FINAL.csv")

In [207]:
dftrain.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
0,T1000001,1,S1,L3,R1,01-01-2018,1,Yes,9,7011.84
1,T1000002,253,S4,L2,R1,01-01-2018,1,Yes,60,51789.12
2,T1000003,252,S3,L2,R1,01-01-2018,1,Yes,42,36868.20
3,T1000004,251,S2,L3,R1,01-01-2018,1,Yes,23,19715.16
4,T1000005,250,S2,L3,R4,01-01-2018,1,Yes,62,45614.52

In [208]:
dftest.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount
0,T1188341,171,S4,L2,R3,2019-06-01,0,No
1,T1188342,172,S1,L1,R1,2019-06-01,0,No
2,T1188343,173,S4,L2,R1,2019-06-01,0,No
3,T1188344,174,S1,L1,R4,2019-06-01,0,No
4,T1188345,170,S1,L1,R2,2019-06-01,0,No

In [209]:
dftrain=dftrain.drop(["ID","#Order"],axis=1)
dftest=dftest.drop(["ID"],axis=1)

In [210]:
import datetime
dftrain['Date'] = pd.to_datetime(dftrain.Date)
dftest['Date'] = pd.to_datetime(dftest.Date)

dftrain = dftrain.set_index('Date', append=False)
dftest = dftest.set_index('Date', append=False)

In [211]:
dftrain.index = dftrain.index.to_julian_date()
dftest.index= dftest.index.to_julian_date()

In [212]:
dftrain.dtypes

Store_id           int64
Store_Type        object
Location_Type     object
Region_Code       object
Holiday            int64
Discount          object
Sales            float64
dtype: object

In [213]:
X_Train=dftrain.drop(["Store_Type","Location_Type","Region_Code","Sales"],axis=1)
Y_Train=dftrain['Sales']
X_test=dftest.drop(["Store_Type","Location_Type","Region_Code"],axis=1)

In [214]:
X_Train.head()

           Store_id  Holiday Discount
Date
2458119.5         1        1      Yes
2458119.5       253        1      Yes
2458119.5       252        1      Yes
2458119.5       251        1      Yes
2458119.5       250        1      Yes

In [215]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
X_Train['Discount']= label_encoder.fit_transform(X_Train['Discount'])
X_test['Discount']= label_encoder.transform(X_test['Discount'])

In [220]:
from xgboost import XGBRegressor
my_model=XGBRegressor(n_estimators=1000,learning_rate=0.3)
my_model.fit(X_Train,Y_Train)
predictions=my_model.predict(X_test)

In [218]:
# from sklearn.ensemble import RandomForestRegressor

# my_model=RandomForestRegressor(n_estimators=1000)
# my_model.fit(X_Train,Y_Train)
# predictions=my_model.predict(X_test)

In [221]:
my_model.score(X_Train,Y_Train)

0.6578367418098429

In [222]:
dfSample=pd.read_csv("C:\\Users\\awisi\\OneDrive\\Desktop\\CaseStudies\\Jobathon\\Sample.csv")
df_submission = pd.DataFrame({'ID': dfSample.ID,
                       'Sales': predictions})
df_submission.to_csv("C:\\Users\\awisi\\OneDrive\\Desktop\\CaseStudies\\Jobathon\\attempt.csv",index=False)